<div>
    <div>
        <h2>Big Things Have Small Beginnings.</h2>
        <p>
            <span style="color: wheat;">
                Somewhere far away in space and time, a race of machines battle each other for control of the stars...
            </span>
            <span>
                Welcome to Project Helia - an ambitious project to create a new, massively multiplayer, online role playing game! 
                Currently, Helia is in an open alpha state and is free to play during open alpha testing / development.
                It's rough around the edges now, but with your help it could be great!
            </span>
        </p>
        <div>
            <br/>
            <img src="assets/site/helia.png"
                 width=25%;
                 class="center"/>
            <br/>
        </div>
    </div>
    <br/>
    <div>
        <h2>Tough as Nails.</h2>
        <p>
            <span style="color: wheat;">You are entitled to nothing, and Helia recognizes that.</span>
            <span>
                From the very start of your Helia journey, you will face many adversities both from the environment and from
                other players. Don't fly what you can't afford to lose, and always have a contingency plan! You'll need to 
                manage your money, heat, fuel, reputation, ships, and inventory well to get ahead. That said, never forget
                that your greatest assets are your friends, your brain, and your heart.
            </span>
        </p>
        <div>
            <br/>
                <a href="assets/site/0harsh.png">
                    <img src="assets/site/0harsh.png"
                         width=95%;
                         class="center"/>
                </a>
            <br/>
        </div>
    </div>
    <br/>
    <div>
        <h2>The Power of Friendship.</h2>
        <p>
            <span style="color: wheat;">It is not a good thing for you to be alone.</span>
            <span>
                Create and join custom factions in order to team up and change your area of operation. Things that would be impossible
                alone become easy with friends! And in Helia's tough as nails environment, you're going to need all the friends you
                can get.
            </span>
        </p>
        <div>
            <br/>
                <a href="assets/site/1friends.png">
                    <img src="assets/site/1friends.png"
                         width=95%;
                         class="center"/>
                </a>
            <br/>
        </div>
    </div>
    <br/>
    <div>
        <h2>Find Your Niche.</h2>
        <p>
            <span style="color: wheat;">Your only goals are the ones you choose to define.</span>
            <span>
                With over 1200 systems, some of which are only intermittently connected, there's a big world out there!
                Helia provides a sandbox to play in, but it's ultimately up to you to actually play! What it means to "win"
                is relative to each player. You'll need to decide what you want to be, and then follow through with actually
                being it! Whether that's a pirate, a mercenary, an industrialist, a miner, a trader, or an explorer, you are
                the only one responsible for your own successes and failures.
            </span>
        </p>
        <div>
            <br/>
                <a href="assets/site/2niche.png">
                    <img src="assets/site/2niche.png"
                         width=95%;
                         class="center"/>
                </a>
            <br/>
        </div>
    </div>
    <br/>
    <div>
        <h2>Hunt and Gather.</h2>
        <p>
            <span style="color: wheat;">Industry will be critical to your faction's success.</span>
            <span>
                Although you can buy many things from NPCs, your faction will ultimately need to start making things themselves.
                This means mining, hauling, and manufacturing. It also means keeping those who do those things safe from harm!
            </span>
        </p>
        <div>
            <br/>
                <a href="assets/site/3gather.png">
                    <img src="assets/site/3gather.png"
                         width=95%;
                         class="center"/>
                </a>
            <br/>
        </div>
    </div>
    <br/>
    <div>
        <h2>Make Them Your Own.</h2>
        <p>
            <span style="color: wheat;">The modules you buy, build, or salvage are just the beginning.</span>
            <span>
                Helia allows you to break the meta by taking a chance to modify the attributes of any module in your posession
                using mod kits. However, each use of a mod kit deteriorates the module you're using it on - you'll have to decide 
                when what you have is good enough.
            </span>
        </p>
        <div>
            <br/>
                <a href="assets/site/4mod.png">
                    <img src="assets/site/4mod.png"
                         width=95%;
                         class="center"/>
                </a>
            <br/>
        </div>
    </div>
    <br/>
    <div>
        <h2>Natural Leveling.</h2>
        <p>
            <span style="color: wheat;">No waiting, no grinding, just playing.</span>
            <span>
                If you use something a lot, you'll be better with it. If you don't use it a lot, you won't be. It really is that
                simple! Instead of locking ships and items behind a leveling system, Helia's experience system simply increases
                your effectiveness with the things you actually use as you actually use them.
            </span>
        </p>
        <div>
            <br/>
                <a href="assets/site/5experience.png">
                    <img src="assets/site/5experience.png"
                         width=95%;
                         class="center"/>
                </a>
            <br/>
        </div>
    </div>
    <br/>
    <div>
        <h2>Open PVP Everyhere - No Exceptions.</h2>
        <p>
            <span>
                <span style="color: wheat;">Unlike other games, Helia provides no safe areas or starter zones.</span>
                <span>
                    PVP mechanics do not depend on your location in the universe, although as your reputation changes as a result
                    some areas may become quite difficult to operate in due to the locals. 
                </span>
            </span>
        </p>
        <div>
            <br/>
                <a href="assets/site/6pvp.png">
                    <img src="assets/site/6pvp.png"
                         width=95%;
                         class="center"/>
                </a>
            <br/>
        </div>
    </div>
    <br/>
    <div>
        <h2>Go Whaling - Not Fishing.</h2>
        <p>
            <span style="color: wheat;">While other games throw hordes of NPCs at you for you to slay, Helia does not.</span>
            <span>
                In fact, Helia tries to put NPCs and players on equivalent footing as much as possible - they even respawn when 
                killed in much the same way that a player does! Whether you're hunting a player or an NPC, you will need to be
                well equipped for the hunt!
            </span>
        </p>
    </div>
    <br/>
    <div>
        <h2>No Nonsense - Just Game.</h2>
        <p>
            <span style="color: wheat;">Helia is philosophically opposed to microtransactions, pay to win, etc.</span>
            <span>
                During the open alpha phase, Helia will be free to play for obvious reasons. However, it is ultimately planned
                to have a simple monthly subscription model. With nearly two decades of evidence of the harmful effects of
                pay to win and microtransactions on games, Helia will never stoop to that level.
            </span>
        </p>
    </div>
</div>