<div>
    <div>
        <h2>Big Things Have Small Beginnings.</h2>
        <p>
            <span style="color: wheat;">
                Somewhere far away in space and time, a race of machines battles themselves and each other for control of the stars...
            </span>
            <span>
                Welcome to Project Helia - an ambitious project to create a new, massively multiplayer, online role playing game! 
                Currently, Helia is in an open alpha state and is free to play during open alpha testing.
            </span>
        </p>
    </div>
    <br/>
    <div>
        <h2>Open PVP Everyhere - No Exceptions.</h2>
        <p>
            <span>
                <span style="color: wheat;">Unlike other games, Helia provides no safe areas or starter zones.</span>
                <span>
                    PVP mechanics do not depend on your location in the universe - its open season. However, any combat 
                    you engage in (whether against a player or an NPC) will adjust your standings, and that may not 
                    work well for you in the long term.
                </span>
            </span>
        </p>
    </div>
    <br/>
    <div>
        <h2>Go Whaling - Not Fishing.</h2>
        <p>
            <span>
                todo
            </span>
        </p>
    </div>
</div>