<div>
    <h2>Forgot Password</h2>
    <form class="form">
        <div>
            <div>
                <label for="password">Password</label>
                <input type="password" class="form-control" placeholder="Enter a good password..." id="password" #password />
            </div>
            <div>
                <label for="confirmpassword">Confirm Password</label>
                <input type="password" class="form-control" placeholder="Confirm your good password..." id="confirmpassword" #confirmpassword />
            </div>
        </div>
        <br/>
        <button type="button" class="btn btn-primary center" (click)="submit()">Submit</button>
        <br/>
    </form>
</div>
