<div *ngIf="!loginSuccess">
    <h2>Login</h2>
    <div style="background: maroon; color: wheat;">
        <p style="font-weight: 300; font-size: 12px;">
            Helia is designed to work with Chromium-based browsers such as Chrome, Opera, and modern Edge. You may experience issues using
            non-Chromium based browsers. The server takes ~30 minutes to restart - if you can't log in now, try again later.
        </p>
    </div>
    <form class="form">
        <div>
            <label for="emailaddress">Email Address</label>
            <input type="emailaddress" class="form-control" placeholder="Enter your email address..." id="emailaddress" #emailaddress>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" class="form-control" placeholder="Enter your password..." id="password" #password>
        </div>
        <br/>
        <button type="button" class="btn btn-primary center" (click)="login()">Submit</button>
        <div>
            <br/>
            <p class="info-text">
                Once you've logged in, you can resize your browser to adjust the game window, and enter fullscreen
                using your browser's native facilities (on Chrome, this is usually F11).
            </p>
        </div>
    </form>
</div>
<div *ngIf="loginSuccess" class="helia-game-top">
    <canvas class="gameCanvas" width="0" height="0" tabindex='1'>
        A browser that supports HTML5 canvas is required to play Helia.
    </canvas>
    <canvas class="backCanvas" width="0" height="0">
        A browser that supports HTML5 canvas is required to play Helia.
    </canvas>
</div>
