<div *ngIf="!loginSuccess">
    <h2>Login</h2>
    <form class="form">
        <div>
            <label for="username">Username</label>
            <input type="username" class="form-control" placeholder="Enter username" id="username" #username>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" class="form-control" placeholder="Enter password" id="password" #password>
        </div>
        <button type="button" class="btn btn-primary" (click)="login()">Submit</button>
        <div>
            <br/>
            <p>
                Once you've logged in, you can resize your browser to adjust the game window, and enter fullscreen
                using your browser's native facilities (on Chrome, this is usually F11).
            </p>
        </div>
    </form>
</div>
<div *ngIf="loginSuccess" class="helia-game-top">
    <canvas class="gameCanvas" width="0" height="0" tabindex='1'>
        A browser that supports HTML5 canvas is required to play Helia.
    </canvas>
    <canvas class="backCanvas" width="0" height="0" style="display: none;">
        A browser that supports HTML5 canvas is required to play Helia.
    </canvas>
</div>
