<div *ngIf="!loginSuccess">
    <h2>Login</h2>
    <div style="font-weight: 300; color: wheat; font-size: 10px; border-radius: 5px; background-color: darkred; ">
        <div style="padding: 10px;">
            <p>
                During this open alpha phase, you will need to accept a self-signed certificate to register or log in to Helia.
                Please open the link below, verify that the certificate's thumbprint is 
                <span style="font-weight: 600; color: whitesmoke;">602fb39aaa2f5aaca12e4d1712313a4b02676925</span>, 
                and accept it if so. If you don't know what that means, then you probably shouldn't do it and should wait for development to 
                progress further before playing Helia.
            </p>
            <p>
                <a style="color: whitesmoke;" href="https://52.188.125.241:8472/dev/accept-cert">Accept the certificate</a>
            </p>
        </div>
    </div>
    <br/>
    <form class="form">
        <div>
            <label for="emailaddress">Email Address</label>
            <input type="emailaddress" class="form-control" placeholder="Enter your email address..." id="emailaddress" #emailaddress>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" class="form-control" placeholder="Enter your password..." id="password" #password>
        </div>
        <br/>
        <button type="button" class="btn btn-primary center" (click)="login()">Submit</button>
        <div>
            <br/>
            <p class="info-text">
                Once you've logged in, you can resize your browser to adjust the game window, and enter fullscreen
                using your browser's native facilities (on Chrome, this is usually F11).
            </p>
        </div>
    </form>
</div>
<div *ngIf="loginSuccess" class="helia-game-top">
    <canvas class="gameCanvas" width="0" height="0" tabindex='1'>
        A browser that supports HTML5 canvas is required to play Helia.
    </canvas>
    <canvas class="backCanvas" width="0" height="0">
        A browser that supports HTML5 canvas is required to play Helia.
    </canvas>
</div>
