<div>
    <h2>Unified Policy</h2>
    <div>
        <p>
            The following document outlines the terms which you agree to by playing Helia. Your continued use of this software
            implies your agreement to these terms. If you do not agree to these terms, please cease using Helia immediately.
        </p>
    </div>
    <br/>
    <div>
        <h3>Personal Conduct</h3>
        <div>
            <p>
                The author reserves the right to arbitrarily moderate or ban you at any time for any reason. Although there is no
                desire to do so, such actions may unfortunately be necessary to protect the project and the community in the event
                of especially egregious behaviour. The definition of "egregious" is solely at the discretion of the author.
            </p>
            <br/>
            <p>
                You agree not to post or otherwise transmit pornographic content, incitations to real world violence, the personal
                information of others, copyrighted content that you do not have rights to, or threats of real world violence within
                the Helia community.
            </p>
            <br/>
            <p>
                You agree to abide by the Federal Laws of the United States of America. Violation of US Federal Law within the Helia
                community will not be tolerated, and may result in an immediate ban. For especially egregious violations, the author
                may contact the appropriate law enforcement agency and provide evidence of the crime commited. Be aware that any 
                offenses that relate to child pornography are guaranteed to be reported to law enforcement, and conviction of such 
                offenses carries very severe criminal penalties.
            </p>
            <br/>
            <p>
                You agree not to take any intentional action that results in a disruption of, unauthorized access to, or damage to,
                the Helia servers. You are especially reminded to abide by the Computer Fraud and Abuse Act, as it carries significant
                criminal penalties.
            </p>
        </div>
    </div>
    <div>
        <h3>Limitation of Liability</h3>
        <div>
            <p>
                Alpha-quality software is inherently unstable, unpredictable, and unfit for any particular use. As a result, your use
                of this software is solely at your own risk. Under no circumstances shall the author be responsible for any harm or
                damages, tort or otherwise, caused by your use of this software.
            </p>
            <br/>
            <p>
                Under no circumstances shall the author be responsible for your actions. Any violation of law, and any penalties or
                damages that are assigned to you as a result, are solely your own responsibility. The author is not responsible for
                any player submitted content, nor for the content of any other form of communication between players. You are solely
                responsible for the content that you provide, and for making sure it is not in violation of any Helia policy or US
                Federal Law.
            </p>
            <br/>
            <p>
                Under no circumstances shall the author be responsible for any in-game damages or losses that occur during your use of
                Helia - whether in the course of normal gameplay, as the result of a bug or exploit, as the result of hacking, as the
                result of a server malfunction, or otherwise. In-game items have no real world value of any kind.
            </p>
            <br/>
            <p>
                Interactions between players are inherently unpredictable and risky. Under no circumstances will the author be held liable
                for any unlawful or otherwise inappropriate actions taken by one player against another. This includes actions taken by 
                another player against you.
            </p>
        </div>
    </div>
</div>