<div>
    <h2>Unified Policy</h2>
    <div>
        <p>
            The following agreement outlines the terms which you agree to by playing Helia (the software) or by interacting
            with the official Helia Reddit community (the [Helia] community). Your continued use of this software implies your 
            agreement to these terms. If you do not agree to these terms, please cease using Helia, and interacting with its 
            official Reddit community, immediately. This agreement is between you and Nathan Wiehoff (the author).
        </p>
    </div>
    <br/>
    <div>
        <h3>Server Access</h3>
        <p>
            During the open alpha period, you are permitted to access the Helia servers free of charge in order to help test the 
            software as it continues development. You agree that your use of this software is voluntary and that you are voluntarily 
            assuming all risks associated with the use of this alpha quality software.
        </p>
        <br/>
        <p>
            You are not entitled to any form of compensation for your use of this software, nor for providing feedback to the author
            regarding your experiences with this software. Your use of this software is completely at your own risk and voluntary.
        </p>
        <br/>
        <p>
            Servers are not guaranteed to be available. There may be unexpected crashes and slow downs, potentially lasting for several
            days. You recognize that this is normal for alpha quality software, and that constant availability and stability are unrealistic
            expectations for any online game - let alone one in an alpha state. Helia is currently running on an underpowered server due
            to budget constraints.
        </p>
    </div>
    <br/>
    <div>
        <h3>Personal Conduct</h3>
        <div>
            <p>
                The author reserves the right to arbitrarily moderate or ban you at any time for any reason. Although there is no
                desire to do so, such actions may unfortunately be necessary to protect the software and the community in the event
                of especially egregious behaviour. The definition of "egregious" is solely at the discretion of the author.
            </p>
            <br/>
            <p>
                You agree not to post or otherwise transmit pornographic content, incitation of real world violence, the personal
                information of others, copyrighted content that you do not have rights to, or threats of real world violence within
                Helia or the Helia community.
            </p>
            <br/>
            <p>
                You agree to abide by the Federal Laws of the United States of America. Violation of US Federal Law within Helia or 
                the Helia community will not be tolerated, and may result in an immediate ban. For especially egregious violations, 
                the author may contact the appropriate law enforcement agency and provide evidence of the crime committed. Be aware 
                that any offenses that relate to child pornography are guaranteed to be reported to law enforcement, and conviction 
                of such offenses carries very severe criminal penalties.
            </p>
            <br/>
            <p>
                You agree not to take any intentional action that results in a disruption of, unauthorized access to, or damage to,
                the Helia servers. You are especially reminded to abide by the Computer Fraud and Abuse Act, as it carries significant
                criminal penalties.
            </p>
        </div>
    </div>
    <div>
        <h3>Player Submitted Content</h3>
        <div>
            <p>
                Player submitted content is any content that a player transmits within Helia or the Helia community. Examples include, 
                but are not limited to, chat messages, custom faction names / descriptions, ship names, character names, feedback on 
                the software, and suggestions for future improvement of the software. It also includes any data provided when you 
                register an account.
            </p>
            <br/>
            <p>
                By submitting content, you are granting rights to the author for it to be used to facilitate
                testing, debugging, and availability of the software. This inherently involves such content being transmitted to other
                players and potentially other developers / contractors who are working on Helia and need access to that information. It
                also inherently requires such content to be stored. You agree to such use, transmission, and storage of content that
                you submit within Helia or the Helia community. Furthermore, you also agree that you will receive no compensation or 
                royalties for any past, present, or future use of submitted content.
            </p>
            <br/>
            <p>
                Any feedback or suggestions are provided voluntarily, with no expectation of compensation. Under no circumstances shall
                the implementation or other use of feedback or suggestions entitle you to any form of compensation or share of ownership
                in the software.
            </p>
            <br/>
            <p>
                You are solely responsible for the legality and character of the content you submit.
            </p>
        </div>
    </div>
    <div>
        <h3>Limitation of Liability</h3>
        <div>
            <p>
                Alpha quality software is inherently unstable, unpredictable, and unfit for any particular use. As a result, your use
                of this software is solely at your own risk. Under no circumstances shall the author be responsible for any harm or
                damages, tort or otherwise, caused by your use of this software. This software has absolutely no warranty, to the
                extent permitted by applicable law.
            </p>
            <br/>
            <p>
                Under no circumstances shall the author be responsible for your actions. Any violation of law, and any penalties or
                damages that are assigned to you as a result, are solely your own responsibility. The author is not responsible for
                any player submitted content, nor for the content of any other form of communication between players. You are solely
                responsible for the content that you provide, and for making sure it is not in violation of any Helia policy or US
                Federal Law.
            </p>
            <br/>
            <p>
                Under no circumstances shall the author be responsible for any in-game damages or losses that occur during your use of
                Helia - whether in the course of normal gameplay, as the result of a bug or exploit, as the result of hacking, as the
                result of a server malfunction, or otherwise. In-game items have no real world value of any kind.
            </p>
            <br/>
            <p>
                Interactions between players are inherently unpredictable and risky. Under no circumstances will the author be held liable
                for any unlawful or otherwise inappropriate actions taken by one player against another. This includes actions taken by 
                another player against you.
            </p>
            <br/>
            <p>
                Any similarities to actual persons, living or dead, is purely coincidental. Helia is a work of fiction, and is not intended
                to represent any real persons living or dead.
            </p>
        </div>
    </div>
    <div>
        <h3>Integrity</h3>
        <div>
            <p>
                If any section of this agreement is found to be unlawful or unenforcable, all other sections will remain in effect.
            </p>
        </div>
    </div>
    <div>
        <h3>Dispute Resolution</h3>
        <div>
            <p>
                It is hoped that any disputes can be resolved fairly outside of the court system. You agree to recognize that legal action
                is undesirable, and ultimately will be a loss for both parties. However, you also agree that any legal action taken must
                originate within the Marion County Superior Court System of the State of Indiana. You also agree not to take, nor to threaten
                to take, such action without making a sincere, good faith, effort to resolve the issue outside of the court system.
            </p>
        </div>
    </div>
    <div>
        <h3>Modifications</h3>
        <div>
            <p>
                The author reserves the right to modify this agreement at any time. If changes are made, a notice of change will be placed on
                the login screen. By continuing to use this software, or by continuing to interact with the official Reddit community, you agree 
                to be bound by the new terms.
            </p>
        </div>
    </div>
</div>