/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: FiraCode-Bold;
    src: url(assets/fonts/FiraCode-Bold.woff2) format("woff2");
}

@font-face {
    font-family: FiraCode-Light;
    src: url(assets/fonts/FiraCode-Light.woff2) format("woff2");
}

@font-face {
    font-family: FiraCode-Medium;
    src: url(assets/fonts/FiraCode-Medium.woff2) format("woff2");
}

@font-face {
    font-family: FiraCode-Regular;
    src: url(assets/fonts/FiraCode-Regular.woff2) format("woff2");
}

@font-face {
    font-family: FiraCode-SemiBold;
    src: url(assets/fonts/FiraCode-SemiBold.woff2) format("woff2");
}

@font-face {
    font-family: FiraCode-VF;
    src: url(assets/fonts/FiraCode-VF.woff2) format("woff2");
}

body {
    background-image: url("/assets/site/background.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

div {
    font-family: "FiraCode-Regular";
}

h2 {
    color: aquamarine;
    margin-bottom: 15px;
}

label {
    color: aqua;
    margin-top: 10px;
}

.info-text {
    font-size: 10px;
    color: lightblue;
}

.center {
    margin:0 auto !important;
    display:block !important;
}
