<div>
    <h2>Register</h2>
    <form class="form">
        <div>
            <label for="username">Username</label>
            <input type="username" class="form-control" placeholder="Enter username" id="username" #username />
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" class="form-control" placeholder="Enter password" id="password" #password />
        </div>
        <button type="button" class="btn btn-primary" (click)="register()">
            Submit
        </button>
    </form>
</div>