<div>
    <h2>Forgot Password</h2>
    <form class="form">
        <div>
            <label for="emailaddress">Email Address</label>
            <input type="emailaddress" class="form-control" placeholder="Enter your email address..." id="emailaddress" #emailaddress>
        </div>
        <br/>
        <button type="button" class="btn btn-primary center" (click)="submit()">Submit</button>
        <div>
            <br/>
            <p class="info-text">
                If your email address is found, an email will be sent to you to reset your password.
            </p>
        </div>
    </form>
</div>
